
<center>
	<table border="0" cellspacing="0" cellpadding="0" align="center" width="100%" bgcolor="#ffffff" style="background:#ffffff;max-width:920px">
		<tbody>
			<tr>
				<td width="20" bgcolor="#eeeeee" style="background:#eeeeee"></td>
				<td>
					<table border="0" cellspacing="0" cellpadding="0" width="100%">
						<tbody>
							<tr>
								<td height="20" bgcolor="#eeeeee" style="background:#eeeeee"></td>
							</tr>
							<tr>
								<td>
						 			<table border="0" cellspacing="0" cellpadding="0" align="center" width="100%" style="border-bottom:1px solid #eeeeee">
										<tbody>
											<tr>
												<td height="29"></td>
											</tr>
											<tr>
												<td align="center" style="color:#4285f4;font-family:&quot;Roboto&quot;,OpenSans,&quot;Open Sans&quot;,Arial,sans-serif;font-size:32px;font-weight:normal;line-height:46px;margin:0;padding:0 25px 0 25px;text-align:center">RedVip.Club</td>
											</tr>
											<tr>
												<td height="20"></td>
											</tr>
											<tr>
												<td align="center" style="color:#757575;font-family:&quot;Roboto&quot;,OpenSans,&quot;Open Sans&quot;,Arial,sans-serif;font-size:17px;font-weight:normal;line-height:24px;margin:0;padding:0 25px 0 25px;text-align:center">Mã xác nhận của bạn là: <strong><%= otp %></strong></td>
											</tr>
											<tr>
												<td height="20"></td>
											</tr>
											<tr>
												<td align="center" style="color:#757575;font-family:&quot;Roboto&quot;,OpenSans,&quot;Open Sans&quot;,Arial,sans-serif;font-size:17px;font-weight:normal;line-height:24px;margin:0;padding:0 25px 0 25px;text-align:center">Chúc bạn chơi game vui vẻ.</td>
											</tr>
											<tr>
												<td height="30"></td>
											 </tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td height="20" bgcolor="#eeeeee" style="background:#eeeeee"></td>
							</tr>
						</tbody>
					</table>
				</td>
				<td width="20" bgcolor="#eeeeee" style="background:#eeeeee"></td>
			</tr>
		</tbody>
	</table>
</center>
